.v-top {
  vertical-align: top !important;
}

.b-x {
  border-top: 2px solid #f4e3cf;
  border-bottom: 2px solid #f4e3cf;
}

.scrollx-hidden {
  overflow-x: scroll;
}
.scrollx-hidden::-webkit-scrollbar {
  display: none;
}
