<div class="columns bg-color-none">
	<div class="column is-full">
		<div class="content border-top pt-4">
			<button class="button is-static is-radiusless bg-color font-bg mr-4">
        <span class="icon is-small">
          <fa-icon [icon]="faTwitter"></fa-icon>
        </span>
      </button>
			<button class="button is-static is-radiusless bg-color font-bg mr-4">
        <span class="icon is-small">
          <fa-icon [icon]="faLinkedinIn"></fa-icon>
        </span>
      </button>
			<button class="button is-static is-radiusless bg-color font-bg mr-4">
        <span class="icon is-small">
          <fa-icon [icon]="faFacebookF"></fa-icon>
        </span>
      </button>
		</div>
	</div>
</div>
<div class="columns">
	<div class="column is-full is-size-7 has-text-weight-bold">
		About<span class="mr-4"></span>/<span class="mr-4"></span>For
		Business<span class="mr-4"></span>/<span class="mr-4"></span>Suggestions<span class="mr-4"></span>/<span class="mr-4"></span>Help
		&
		FAQs<span class="mr-4"></span>/<span class="mr-4"></span>Contacts<span class="mr-4"></span>/<span class="mr-4"></span>Pricing
	</div>
</div>
<div class="columns">
	<div class="column is-full is-size-7 has-text-weight-bold">
		© Copyright 2013 companyname inc.
		<br>
    Privacy<span class="mr-4"></span>/<span class="mr-4"></span>Terms
	</div>