<div class="columns">
	<div class="column is-two-thirds">
		<div class="desc-main px-4">
			<span class="is-size-5 font-bg has-text-weight-bold">How to improve your skills</span>
			<br>
			<span class="is-size-6 font-bg">Waseem Arshad</span>
			<span class="is-size-6 is-pulled-right font-bg">182371 views</span>
		</div>
	</div>
	<div class="column is-multiline">
		<div class="columns">
			<div class="column">
				<div class="desc-side px-2">
					<span class="is-size-7 is-pulled-left has-text-weight-bold font-bg">Waseem Arshad</span>
					<span class="is-size-7 is-pulled-right font-bg">182371 views</span>
				</div>
			</div>
		</div>
		<div class="columns">
			<div class="column">
				<div class="desc-side px-2">
					<span class="is-size-7 is-pulled-left has-text-weight-bold font-bg">Waseem Arshad</span>
					<span class="is-size-7 is-pulled-right font-bg">182371 views</span>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="columns">
	<div class="column">
		<div class="desc-side px-2">
			<span class="is-size-7 is-pulled-left has-text-weight-bold font-bg">Waseem Arshad</span>
			<span class="is-size-7 is-pulled-right font-bg">182371 views</span>
		</div>
	</div>
	<div class="column">
		<div class="desc-side px-2">
			<span class="is-size-7 is-pulled-left has-text-weight-bold font-bg">Waseem Arshad</span>
			<span class="is-size-7 is-pulled-right font-bg">182371 views</span>
		</div>
	</div>
	<div class="column">
		<div class="desc-browse px-2 has-text-centered">
			<div class="columns is-vcentered mt-0">
				<div class="column is-4 has-text-right">
					<span class="icon is-small">
            <i class="fas fa-arrow-up"></i>
          </span>
				</div>
				<div class="column has-text-left">
					<span class="is-size-7 has-text-weight-bold">Upload</span>
					<br>
					<span class="is-size-7">Your Own Video</span>
				</div>
			</div>
		</div>
	</div>
</div>