/* Add application styles & imports to this file! */
@import "bulma/css/bulma.css";
@import "font-awesome/css/font-awesome.min.css";

body {
  background-color: #953e46;
  color: #f4e3cf !important;
  font-family: myriad-pro, sans-serif;
}
