<div class="columns pt-4">
	<div class="column">
		<app-header></app-header>
	</div>
</div>
<div class="columns">
	<div class="column is-two-thirds">
		<app-video></app-video>
	</div>
	<div class="column">
		<app-activity></app-activity>
	</div>
</div>

<div class="columns">
	<div class="column is-two-thirds">
		<div class="columns">
			<app-people></app-people>
		</div>
		<div class="columns">
			<app-document></app-document>
		</div>
	</div>
	<div class="column">
		<app-channel></app-channel>
	</div>
</div>

<app-footer></app-footer>